{% extends "base.html" %}

{% block content %}
     <img src="https://qph.fs.quoracdn.net/main-qimg-427a897a6f02e2b17a2fdc2d35c70a01-c" alt="mainpicture" style="width:100%;height:400px;padding:0%">
    
         
      <div >


        <div class="row" style="padding:0%;background:black">
          <div class = "col-xs-4"  >
            <img class="mr-3" src="{{url_for('static', filename='Images/Conclusion1.PNG')}}" alt="Conclusion" style="width:1000px;height:600px ">
             </div>  			 
              <div class = "col-xs-4 col-sm-12 col-lg-12 col-md-8">
                  <div style="margin:3%">
                <h5 style="color:rgb(250, 236, 209);font-size:30px;padding:2%">Impact of Food Wastage</h5>
              
              <p style="font-size:15px;text-align: justify;color:rgb(250, 236, 209);padding:1%">It’s hard to
               believe that, in a country where 42 million people face hunger every day, so much food could go uneaten.
                Yet, this is precisely what is happening – and we’re all partially to blame. Perfectly good food is being
                 wasted at every level of the supply chain: on the farm, during distribution, at the store, and in our homes. In addition to the enormous humanitarian cost, our food waste epidemic is also an economic and environmental catastrophe
                </p><p style="font-size:15px;text-align: justify;color:rgb(250, 236, 209);padding:1%">
               ReFed believes that by implementing food recovery solutions, we could be donating 1.8
             billion meals every year to people who are in need. What does it say about us that we’re willing
            to let millions of pounds of nutritious fruits and vegetables rot when so many people are hungry? </p>
            			
            <p style="font-size:15px;text-align: justify;color:rgb(250, 236, 209);padding:1%">Clearly, this is a BIG problem. So, the question is: what can we do about it? Obviously, the first thing
             we want you to do is pledge to donate your food when you move. Share what you can spare with the 1 in 8
              Americans who are unsure of where they will find their next meal. Next, 
            learn ways that you can reduce food waste at home. There are a number of simple steps that we can take
             to reduce food wastage.We’re facing a massive problem, but we’ve also been presented with an amazing 
             opportunity to produce an aggregate financial benefit to society, divert an enormous amount of waste, 
             reduce carbon emissions, save water, create jobs, and recover millions of meals.
            </p> </div></div></div>
            {% endblock %}