
      {% extends "base.html" %}

      {% block content %}

      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="http://d3js.org/d3.v2.min.js"></script>
        
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <!-- jquery -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <img src="{{url_for('static', filename='Images/hero-2.png')}}" alt="mainpicture" style="width:70%;height:400px;padding-left:25%">
         
            
  
      <div style="margin:0%;background:black,padding:1%">
      <div class="row">
        <div class="col-md-6" style="background:black;padding:1%">
            <div id="scat"></div></div>
        <div class="col-md-6" style="background:black;padding:0%">
            
              <div id="myDiv" style="margin-bottom: 0%"></div>
                <div class="hideshow" id="top" style="margin-left:500px;margin-top:0%"> 
                <button style="background:green;">2010-2012</button>
                 </div>
                <div class="hideshow" id="bottom" style="margin-left:500px;"> 
                <button style="background:lightblue;">2013-1015</button>
                 </div> 
            </div>
            </div>
            <div class="col-md-12" style="background:black">     
            <div id="plot"></div>
        </div> 
      
        


     </div>           


<script>

var data = [{
  State:"Alabama",
  Population:4863300,
  Food_insecurity_rate:16.50,
  Food_insecure_individuals:800620,
  Food_secure_individuals:4062680
},
{
  State:"Alaska",
  Population:741894,
  Food_insecurity_rate:13.40,
  Food_insecure_individuals:99650,
  Food_secure_individuals:642244
},
{
  State:"Arizona",
  Population:6931071,
  Food_insecurity_rate:14.90,
  Food_insecure_individuals:1033590,
  Food_secure_individuals:5897481
},
{
  State:"Arkansas",
  Population:2988248,
  Food_insecurity_rate:17.20,
  Food_insecure_individuals:515270,
  Food_secure_individuals:2472978
},
{
  State:"California",
  Population:39250017,
  Food_insecurity_rate:11.70,
  Food_insecure_individuals:4574710,
  Food_secure_individuals:34675307
},
{
  State:"Colorado",
  Population:5540545,
  Food_insecurity_rate:11.30,
  Food_insecure_individuals:627480,
  Food_secure_individuals:4913065
},
{
  State:"Connecticut",
  Population:3576452,
  Food_insecurity_rate:11.60,
  Food_insecure_individuals:414730,
  Food_secure_individuals:3161722
},
{
  State:"Delaware",
  population:952065,
  Food_insecurity_rate:12.00,
  Food_insecure_individuals:114370,
  Food_secure_individuals:837695
},
{
  State:"District of Columbia",
  Population:681170,
  Food_insecurity_rate:12.40,
  Food_insecure_individuals:84380,
  Food_secure_individuals:596790
},
{
  State:"Florida",
  Population:20612439,
  Food_insecurity_rate:13.90,
  Food_insecure_individuals:2871650,
  Food_secure_individuals:17740789
},
{
  State:"Georgia",
  Population:10310371,
  Food_insecurity_rate:15.10,
  Food_insecure_individuals:1561360,
  Food_secure_individuals:8749011
},
{
  State:"Hawaii",
  Population:1428557,
  Food_insecurity_rate:11.80,
  Food_insecure_individuals:168030,
  Food_secure_individuals:1260527
},
{
  State:"Idaho",
  Population:1683140,
  Food_insecurity_rate:13.20,
  Food_insecure_individuals:221800,
  Food_secure_individuals:1461340
},
{
  State:"Illinois",
  Population:12801539,
  Food_insecurity_rate:11.00,
  Food_insecure_individuals:1413420,
  Food_secure_individuals:11388119
},
{
  State:"Indiana",
  Population:6633053,
  Food_insecurity_rate:13.70,
  Food_insecure_individuals:910870,
  Food_secure_individuals:5722183
},
{
  State:"Lowa",
  Population:3134693,
  Food_insecurity_rate:11.50,
  Food_insecure_individuals:360540,
  Food_secure_individuals:2774153
},
{
  State:"Kansas",
  Population:2907289,
  Food_insecurity_rate:12.90,
  Food_insecure_individuals:375360,
  Food_secure_individuals:2531929
},
{
  State:"Kentucky",
  Population:4436974,
  Food_insecurity_rate:15.50,
  Food_insecure_individuals:685830,
  Food_secure_individuals:3751144
},
{
  State:"Louisiana",
  Population:4681666,
  Food_insecurity_rate:16.70,
  Food_insecure_individuals:783400,
  Food_secure_individuals:3898266
},
{
  State:"Maine",
  Population:1331479,
  Food_insecurity_rate:13.80,
  Food_insecure_individuals:183310,
  Food_secure_individuals:1148169
},
{
  State:"Maryland",
  Population:6016447,
  Food_insecurity_rate:11.10,
  Food_insecure_individuals:665420,
  Food_secure_individuals:5351027
},
{
  State:"Massachusetts",
  Population:6811779,
  Food_insecurity_rate:9.60,
  Food_insecure_individuals:652760,
  Food_secure_individuals:6159019
},
{
  State:"Michigan",
  Population:9928300,
  Food_insecurity_rate:14.20,
  Food_insecure_individuals:1414700,
  Food_secure_individuals:8513600
},
{
  State:"Minnesota",
  Population:5519952,
  Food_insecurity_rate:9.20,
  Food_insecure_individuals:508630,
  Food_secure_individuals:5011322
},
{
  State:"Mississipi",
  Population:2988726,
  Food_insecurity_rate:20.10,
  Food_insecure_individuals:600840,
  Food_secure_individuals:2387886
},
{
  State:"Missouri",
  Population:6093000,
  Food_insecurity_rate:14.70,
  Food_insecure_individuals:896570,
  Food_secure_individuals:5196430
},
{
  State:"Montana",
  Population:1042520,
  Food_insecurity_rate:12.30,
  Food_insecure_individuals:128740,
  Food_secure_individuals:913780
},
{
  State:"Nebraska",
  Population:1907116,
  Food_insecurity_rate:11.90,
  Food_insecure_individuals:227350,
  Food_secure_individuals:1679766
},
{
  State:"Nevada",
  Population:2940058,
  Food_insecurity_rate:12.70,
  Food_insecure_individuals:372820,
  Food_secure_individuals:2567238
},
{
  State:"New Hampshire",
  Population:1334795,
  Food_insecurity_rate:9.00,
  Food_insecure_individuals:119770,
  Food_secure_individuals:1215025
},
{
  State:"New Jersey",
  Population:8944469,
  Food_insecurity_rate:10.30,
  Food_insecure_individuals:919030,
  Food_secure_individuals:8025439
},
{
  State:"New Mexico",
  Population:2081015,
  Food_insecurity_rate:15.80,
  Food_insecure_individuals:327930,
  Food_secure_individuals:1753085
},
{
  State:"New York",
  Population:19745289,
  Food_insecurity_rate:11.90,
  Food_insecure_individuals:2352940,
  Food_secure_individuals:17392349
},
{
  State:"North Carolina",
  Population:10146788,
  Food_insecurity_rate:15.40,
  Food_insecure_individuals:1565910,
  Food_secure_individuals:8580878
},
{
  State:"North Dakota",
  Population:757953,
  Food_insecurity_rate:7.40,
  Food_insecure_individuals:55710,
  Food_secure_individuals:702243
},
{
  State:"Ohio",
  Population:11614373,
  Food_insecurity_rate:15.10,
  Food_insecure_individuals:1758310,
  Food_secure_individuals:9856063
},
{
  State:"Oklahoma",
  Population:3923561,
  Food_insecurity_rate:16.20,
  Food_insecure_individuals:635740,
  Food_secure_individuals:3287821
},
{
  State:"Oregon",
  Population:4093465,
  Food_insecurity_rate:12.90,
  Food_insecure_individuals:527370,
  Food_secure_individuals:3566095
},
{
  State:"Pennsylvania",
  Population:12784227,
  Food_insecurity_rate:12.50,
  Food_insecure_individuals:1599520,
  Food_secure_individuals:11184707
},
{
  State:"Rhode Island",
  Population:1056426,
  Food_insecurity_rate:12.10,
  Food_insecure_individuals:128330,
  Food_secure_individuals:928096
},
{
  State:"South Carolina",
  Population:4961119,
  Food_insecurity_rate:13.90,
  Food_insecure_individuals:687880,
  Food_secure_individuals:4273239
},
{
  State:"South Dakota",
  Population:865454,
  Food_insecurity_rate:11.70,
  Food_insecure_individuals:100990,
  Food_secure_individuals:764464
},
{
  State:"Tennessee",
  Population:6651194,
  Food_insecurity_rate:14.50,
  Food_insecure_individuals:967430,
  Food_secure_individuals:5683764
},
{
  State:"Texas",
  Population:27862596,
  Food_insecurity_rate:15.40,
  Food_insecure_individuals:4277540,
  Food_secure_individuals:23585056
},
{
  State:"Utah",
  Population:3051217,
  Food_insecurity_rate:12.50,
  Food_insecure_individuals:382490,
  Food_secure_individuals:2668727
},
{
  State:"Vermont",
  Population:624594,
  Food_insecurity_rate:12.10,
  Food_insecure_individuals:75360,
  Food_secure_individuals:549234
},
{
  State:"Virginia",
  Population:8411808,
  Food_insecurity_rate:10.60,
  Food_insecure_individuals:893720,
  Food_secure_individuals:7518088
},
{
  State:"Washington",
  Population:7288000,
  Food_insecurity_rate:12.00,
  Food_insecure_individuals:872720,
  Food_secure_individuals:6415280
},
{
  State:"West Virginia",
  Population:1831102,
  Food_insecurity_rate:14.60,
  Food_insecure_individuals:267280,
  Food_secure_individuals:1563822
},
{
  State:"Wisconsin",
  Population:5778709,
  Food_insecurity_rate:10.50,
  Food_insecure_individuals:609360,
  Food_secure_individuals:5169349
},
{
  State:"Wyoming",
  Population:585501,
  Food_insecurity_rate:12.60,
  Food_insecure_individuals:73830,
  Food_secure_individuals:511671
}
];


 rate=[16.5,13.4,14.9,17.2,11.7,11.3,11.6,12,12.4,13.9,15.1,11.8,13.2,11,13.7,
        11.5,12.9,15.5,16.7,13.8,11.1,9.6,14.2,9.2,20.1,14.7,12.3,11.9,12.7,9,
        10.3,15.8,11.9,15.4,7.4,15.1,16.2,12.9,12.5,12.1,13.9,11.7,14.5,15.4,
        12.5,12.1,10.6,12,14.6,10.5,12.6];

 var trace1 = {
  x: data.map(row => row.State),
  y: data.map(row => row.Food_secure_individuals),
  //text: data.map(row => row.Food_secure_individuals),
  name: "Food Security",
  marker: {color: '#23b7e5'},
  type: "bar"
};

var trace2 = {
  x: data.map(row => row.State),
  y: data.map(row => row.Food_insecure_individuals),
  //text: data.map(row => row.Food_insecure_individuals),
  name: "Food Insecurity",
  marker: {color: 'darkgreen'},
  type: "bar"
};


// Create the data array for the plot
var data1 = [trace1, trace2];

var layout = {barmode: 'stack',
              title:'Food Secured Vs Insecured Population Per State',
              titlefont:{color:"white"},
              legend:{
                font:{color:"white"}
              },
              plot_bgcolor:'black',
              paper_bgcolor:"black",
              xaxis:{color:"white"},
              yaxis:{color:"white"},
             };

// Plot the chart to a div tag with id "plot"

Plotly.newPlot("plot", data1, layout);

var trace3 = {
  x: data.map(row => row.State),
  y: data.map(row => row.Food_insecurity_rate),
  
   mode: 'markers',
   type: "scatter", 

 textfont:{color:"white"},
  marker: {
      
     color:[16.5,13.4,14.9,17.2,11.7,11.3,11.6,12,12.4,13.9,15.1,11.8,13.2,11,13.7,
        11.5,12.9,15.5,16.7,13.8,11.1,9.6,14.2,9.2,20.1,14.7,12.3,11.9,12.7,9,
        10.3,15.8,11.9,15.4,7.4,15.1,16.2,12.9,12.5,12.1,13.9,11.7,14.5,15.4,
        12.5,12.1,10.6,12,14.6,10.5,12.6], 
      size:[16.5*1.5,13.4*1.5,14.9*1.5,17.2*1.5,11.7*1.5,11.3*1.5,11.6*1.5,12.0*1.5,12.4*1.5,13.9*1.5,15.1*1.5,11.8*1.5,13.2*1.5,11*1.5,13.7*1.5,
        11.5*1.5,12.9*1.5,15.5*1.5,16.7*1.5,13.8*1.5,11.1*1.5,9.6*1.5,14.2*1.5,9.2*1.5,20.1*1.5,14.7*1.5,12.3*1.5,11.9*1.5,12.7*1.5,9*1.5,
        10.3*1.5,15.8*1.5,11.9*1.5,15.4*1.5,7.4*1.5,15.1*1.5,16.2*1.5,12.9*1.5,12.5*1.5,12.1*1.5,13.9*1.5,11.7*1.5,14.5*1.5,15.4*1.5,
        12.5*1.5,12.1*1.5,10.6*1.5,12*1.5,14.6*1.5,10.5*1.5,12.6*1.5],
    colorscale: [[0, 'rgb(200, 255, 200)'], [1, 'rgb(0, 100, 0)']],
    cmin: 0,
    cmax:20,
    
    showscale: true,
    colorbar: {
      thickness: 10,
      y: 0.5,
      ypad: 0,
      title: 'Insecurity Rate',
      titlefont:{color:"white"},
      titleside: 'bottom',
      outlinewidth: 1,
      outlinecolor: 'black',
      tickfont: {
        family: 'Lato',
        size: 14,
        color: 'green',
        opacity:0.5
      }
    },
  
},

};

var data2 = [trace3];

var layout = {
  title: 'Food_insecurity_rate',
  titlefont:{color:"white"},
  yaxis: {
    color:"white",
    title: 'Food Insecurity Rate in %',
    titlefont: {
      //family: 'Courier New, monospace',
      size: 18,
      color: 'white'
    },
  },
  plot_bgcolor:'black',
  paper_bgcolor:"black",
  xaxis:{color:"white"},
  //yaxis:{color:"white"},
};

Plotly.newPlot("scat", data2, layout);

Plotly.d3.csv("{{url_for('static', filename='Data/mean_food_insecurity.csv')}}",function(rows){
      function unpack(rows, key) {
          return rows.map(function(row) { return row[key]; });
      }
      
       z1= unpack(rows, 'FOODINSEC_10_12'),
       z2= unpack(rows, 'FOODINSEC_13_15'),

       data = [{
          type: 'choropleth',
          locationmode: 'USA-states',
          locations: unpack(rows, 'State'),
          z:z1,
          /* z: unpack(rows, 'FOODINSEC_10_12'), */
          text: unpack(rows, 'State'),
          zmin: 0,
          zmax: 22,
          /* colorscale: [[0, 'rgb(200, 255, 200)'], [1, 'rgb(0, 100, 0)']], */
           colorscale: [
              [0, 'rgb(242,240,247)'], [0.2, 'rgb(218,218,235)'],
              [0.4, 'rgb(188,189,220)'], [0.6, 'rgb(158,154,200)'],
              [0.8, 'rgb(117,107,177)'], [1, 'rgb(84,39,143)']
          ], 
          colorbar: {
              title: 'Insecurity Rate',
              thickness: 10,
            y: 0.5,
            ypad: 0,
        
            titlefont:{color:"white"},
            titleside: 'bottom',
            outlinewidth: 1,
            outlinecolor: 'black',
            tickfont: {
            family: 'Lato',
            size: 14,
            color: 'green',
            opacity:0.5
            },
          marker: {
              line:{
                  color: 'rgb(255,255,255)',
                  width: 2
              }
          }
          },
      },
      
      {
          type: 'choropleth',
          locationmode: 'USA-states',
          locations: unpack(rows, 'State'),
          z:z2,
          /* z: unpack(rows, 'FOODINSEC_10_12'), */
          text: unpack(rows, 'State'),
          zmin: 0,
          zmax: 22,
          colorscale: [[0, 'rgb(200, 200, 255)'], [1, 'rgb(0, 100, 0)']],
          /* colorscale: [
              [0, 'rgb(242,240,247)'], [0.2, 'rgb(218,218,235)'],
              [0.4, 'rgb(188,189,220)'], [0.6, 'rgb(158,154,200)'],
              [0.8, 'rgb(117,107,177)'], [1, 'rgb(84,39,143)']
          ], */
          colorbar: {
              title: 'Insecurity Rate',
              thickness: 10,
            y: 0.5,
            ypad: 0,
        
            titlefont:{color:"white"},
            titleside: 'bottom',
            outlinewidth: 1,
            outlinecolor: 'black',
            tickfont: {
            family: 'Lato',
            size: 14,
            color: 'green',
            opacity:0.5
            },
          marker: {
              line:{
                  color: 'rgb(255,255,255)',
                  width: 2
              }
          }
          }
      },
      
    ];


      var layout = {
          title: 'Food Insecurity Rate Variations Across US',
          titlefont: {
          //family: 'Courier New, monospace',
          size: 18,
          color: 'white'
    },
           plot_bgcolor:'black',
           paper_bgcolor:"black",
          
          geo:{
              scope: 'usa',
              showlakes: true,
              lakecolor: 'white' 
          },
          
      };

      Plotly.plot("myDiv", data, layout, {showLink: false});
});
$(`.hideshow button`).click(function(){
    var btn_id = this.parentNode.id,
        data_index = ( btn_id === 'top' ) ? 0 : 1,
        myDiv = document.getElementById("myDiv"),
        visible = myDiv.data[data_index].visible;

    if( visible === undefined ) visible = true;

    Plotly.restyle("myDiv", 'visible', !visible, data_index);
});



</script>
     


 
{% endblock %}